version: "3"
services:
  api:
    build: api/
    ports:
      - "4000:4000"
    restart: always
    image: pabloszx/awesome-templates-api
    network_mode: "host"
    environment:
      DB_URL: ${DB_URL}
      COOKIE_KEY: ${COOKIE_KEY}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      GITHUB_APP_ID: ${GITHUB_APP_ID}
      REDIS_URL: ${REDIS_URL}
  client:
    build: client/
    ports:
      - "3000:3000"
    restart: always
    image: pabloszx/awesome-templates-client
    network_mode: "host"
  watchtower:
    restart: always
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    command: --interval 60
    environment:
      WATCHTOWER_NOTIFICATIONS: "slack"
      WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL: "https://hooks.slack.com/services/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"
      WATCHTOWER_NOTIFICATION_SLACK_ICON_EMOJI: ":whale:"
      WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER: "Watchtower awesome-templates"
      WATCHTOWER_NOTIFICATION_SLACK_CHANNEL: "#awesome-templates"
