name: API

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Publish Docker API
        uses: elgohr/Publish-Docker-Github-Action@1.13
        with:
          name: pabloszx/awesome-templates-api
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: api
          cache: true
