name: Client

on:
  push:
    paths:
      - "client/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Publish Docker Client
        uses: elgohr/Publish-Docker-Github-Action@1.13
        with:
          name: pabloszx/awesome-templates-client
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          workdir: client
          cache: true
